@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');


#cardHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardItem {
    width: 30%;
    margin: 10px;
  
}

.cardItem a {
    color: blue;
}

.select {
    margin: 10px;
}